---
title: Brandon Bodine - Software Developer!?!?
layout: layouts/home.njk
description: Hi, I'm Brandon. I'm a software engineer trying to figure out things. I'm interested in things.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Hello, I'm Brandon and welcome to my place for things. This site is just a collection of things about whatever and this where I will put them.
</p>

<figure>
  <blockquote>
    <p>
      “The secret of realizing the greatest fruitfulness and the greatest enjoyment of existence is: to live dangerously! Build your cities on the slopes of Vesuvius! Send your ships out into uncharted seas! Live in conflict with your equals and with yourselves!”
    </p>
  </blockquote>
  <figcaption>- Friedrich Nietzsche</figcaption>
</figure>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>